/* CSS declarations go here */

html, body, header, h1, h2, section, ul, li, div, a, form, footer {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
}

body {
  background: #EEE5B8;
}

a {
  text-decoration: none;
}

input[type="text"] {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

input[type="submit"] {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font: inherit;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.site-title {
  margin: auto;
  width: 290px;
}

h1 {
  font-size: 60px;
  margin: 5px 0;
  line-height: 73px;
  float: right;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h2#slogan {
  margin: auto;
  margin-bottom: 20px;
}

h2 > a {
  color: black;
}

img.logo {
  float: left;
  height: 62px;
  width: auto;
  padding-top: 12px;
}

header {
  padding: 10px;
  position: absolute;
  right: 0;
}

ul {
  list-style: none;
}

.chat-content {
  width: 1000px;
  padding: 8px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 8px;
  background: white;
  box-shadow: 3px 3px 3px #999;
}

.users-list {
  float: left;
  width: 190px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #999;
  border-radius: 8px;
  height: 446px;
  background: rgba(238, 229, 184, 0.5);
}

.users-list > h2 {
  text-align: center;
  border-bottom: 1px solid grey;
}

.users-list > ul {
  padding: 4px;
  overflow: auto;
}

img.status-icon {
  height: 18px;
  width: auto;
  padding-top: 2px;
}

.users-list li {
  margin-bottom: 2px;
  overflow: hidden;
}

.users-list .username {
  vertical-align: top;
  padding-bottom: 8px;
}

.users-list li.selected {
  font-weight: bold;
}

.chat-room {
  float: right;
  width: 800px;
  background: white;
}

ul#chats {
  height: 400px;
  overflow: auto;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #999;
}

li.chat {
  font-size: 18px;
  padding: 2px 5px;
}

li.chat > .username {
  float: left;
  width: 120px;
  margin-right: 5px;
  font-weight: bold;
  height: 25px;
  overflow: hidden;
}

li.chat > .message {
  float: right;
  width: 645px;
}

form.new-message {
  border: 1px solid grey;
  box-shadow: 2px 2px 2px #999;
}

input#message {
  font-size: 20px;
  padding: 5px;
  width: 708px;
  border-right: 1px solid grey;
}

input#submit-message {
  width: 73px;
  cursor: pointer;
  font-size: 20px;
}

input#username {
  width: 120px;
  display: block;
  margin-bottom: 6px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px;
}

.logged-in {
  margin-bottom: 6px;
}

input#submit-username, .reset-username {
  float: right;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 14px;
  padding: 2px 6px 3px 6px;
  background: #F1922E;
  color: white;
  cursor: pointer;
}

input#submit-username:hover, .reset-username:hover {
  background: #FFB55A;
}

footer {
  display: block;
  bottom: 0;
  right: 0;
  margin: 40px 10px 10px 10px;
  font-size: 14px;
}

footer > div {
  text-align: right;
}